
.virtual_documents/未命名.ipynb.py
.virtual_documents/wrangling_connor.ipynb.py
.virtual_documents/Multivariate logit regression.ipynb.py
.ipynb_checkpoints/wrangling_connor-checkpoint.ipynb
.ipynb_checkpoints/Multivariate logit regression-checkpoint.ipynb
